body {
  background-color: #ffffff;
}

ul {
  list-style: none;
}

/* Logo */
.logo {
  text-decoration: none;
}

.web {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.studio {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
}

/* Head links*/
.list .link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.list .link:hover,
.link:focus {
  color: #2196f3;
}

.header-mail {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration: none;
}

.header-tel {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

/* Hero */

.hero {
  background-color: #2F303A;
  color: #ffffff;
}

.section-title {
  color: #212121
}


/* Колір заголовків #212121 #FFFFFF */
/* Колір тексту та телефону #757575 */
/* Колір кнопок та пошти #2196F3 */
/* Колір фону секції #F5F4FA */
/* Колір фону футера #2F303A*/
/* Посилання у футері rgba(255, 255, 255, 0.6) */